<html>
  <body>
    <div class="container">
      <% @glyphs.each do |glyph| %>
        <img class="glyph" src="<%= glyph %>">
      <% end %>
    </div>
  </body>
  <style>
    .container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    img.glyph {
      height: 100px;
      margin-bottom: 64px;
      filter: brightness(1.8) contrast(2);
    }
  </style>
</html>
